.product{
    /* display: fle;
    grid-template-columns:repeat(3, 1fr) ; */
    display: flex;
    flex-direction: column;
    text-align: center;
    /* width: 100%; */
    /* margin: auto;
    align-items: center;
    justify-content: center; */
    padding: 5px;
}
.img{
    width: 100px;
    border-radius: 50%;
    
}
.add{
    background-color: goldenrod;
    width: 100px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 5px;
}